body {
    font-family: Arial;
    margin: 0%;
    user-select: none;
    background-color: white;
}
  @font-face {
    font-family: 'Light';
    src: url('font/MiSans/Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.head_box {
    position: sticky;
    top: 0;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 30px;
    overflow: hidden;
    background-color: black;
    text-align: center; 
}
.head_box_v{
    position: sticky;
    top: 0;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
    background-color: black;
    text-align: center; 
    transition: height 0.3s ease;
}
.logo {
    position: absolute;
    height: 80px;
    max-height: 10vw;
    left: 12%;
    top: 20px;
}
.logo_v{
    position: relative;
    height: 60px;
    max-height: 14vw;
    display: block;
    margin: 0 auto;
}

#head_box li {
    position: relative;
    display: inline-block;
}

#head_box li a {
    position: relative;
    display: block;
    color: #aaa;
    font-family: 'Light', Arial;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.5s ease;
    margin: 1px;
}

#head_box li a:hover {
    color: #fff;
}

.section_home{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.title{
    font-size: 200%;
    transform: scale(1,1.8);
    margin: 0%;
}
.title_right{
    font-size: 200%;
    transform: scale(1,1.8);
    margin: 0%;
    text-align: right;
}
.p_right{
    text-align: right;
}
.empty{
    color: #fff;
}

.container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    /*padding: 0;*/
}

footer{
    margin: 0;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
    background-color: black;
    text-align: center; 
}

footer p{
    color: #aaaaaa;
    font-size:  10px;
}
footer p a{
    color: #949494;
    text-decoration: none;
    font-size:  10px;
}
footer p a:hover{
    text-decoration: underline;
}