# Python
*.pyc
__pycache__/

# Virtual Environment
venv/
env/
.venv/
.env/

# IDE
.idea/
.vscode/

# Compiled source
__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/
