<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/index/image/64.png" sizes="64x64">
    <link rel="stylesheet" href="static/index/css/styles.css">
    <!--<script src="static/index/js/ScrollSticker.js"></script>-->
    <script src="static/index/js/PageAdjust.js"></script>
    <title>马克杯 | MarkCup</title>
</head>
<body>
    <ul id="head_box" class="head_box" onclick="ShowOrHide()">
        <img id="logo" class="logo" src="static/index/image/LOGO_160.png">
        <li class="head_button"><a href="/">返回</a></li>
        <li class="head_button"><a href="/">返回</a></li>
        <li class="head_button"><a href="/">返回</a></li>
        <li class="head_button"><a href="/">返回</a></li>
    </ul>

    
    <section class="section_home" id="home">
            <div class="container">
                <p class="empty">aaa</p>
                <h1 class="title">施工中, 请回避</h1>
                <p>很显然网站没做完</p>
                <p>回去吧</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
                <p class="empty">aaa</p>
            </div>
    </section>


    <footer>
        <p>MarkCup &copy; 2024 杭州马克杯网络科技有限公司<br><a id="text0_a" target="_blank"
                href="https://beian.miit.gov.cn">浙ICP备2023053973号-1</a></p>
    </footer>
</body>

</html>

