body {
    /* 隐藏滑条 */
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(0, 0, 100);
}

/* 背景 */
#bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 105vw;

    min-height: 100vh;

    overflow: hidden;

    display:flex;
  align-items:center;
}
#bg-t{
    position: absolute;
    top: -22vw;
    left: -50vw;
    width: 200vw;
    z-index: -99;
    margin: 0;

    font-size: 24vw;
    letter-spacing: 0;
    line-height: 0.8;
    white-space: nowrap;

    text-align: center;

    font-weight: 1000;
    color:rgb(240, 240, 240);

    transform: scaleY(0.8);
}
#bg-t-0{
    color:rgb(240, 240, 240);
}
#bg-t-1{
    color:rgb(200, 200, 220);
}
#bg-t-2{
    color:rgb(160, 160, 200);
}
#bg-t-3{
    color:rgb(120, 120, 180);
}
#bg-t-4{
    color:rgb(80, 80, 160);
}
#bg-t-5{
    color:rgb(40, 40, 140);
}
#bg-t-6{
    color:rgb(0, 0, 120);
}
#bg-t-7{
    color:rgb(0, 0, 110);
}
#bg-t-8{
    color:rgb(0, 0, 105);
}
/* 绳子canvas */
.lines {
    /* 适应页面 */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    /* 禁止鼠标点击 */
    pointer-events: none;
}

/* 绳子节点 */
.line_note {
    width: 0px;
    height: 0px;
    top: 3%;
    left: 50%;
    position: absolute;
}

/* 可抓取的地方 */
.draggableBox {
    position: absolute;
    cursor: grab;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

/* 装订处 */
#page {
    display: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 180vh;
    max-width: 85vw;
    height: min(85vw,180vh) ;

    border-radius: 1vw;
    box-shadow: 0 0 5vw rgba(0, 0, 0, 0.5);

    border: 0.3vw solid #000000;

    overflow: hidden;
}

#background{
    /* 适应页面 */
    position: relative;
    top: 0;
    left: 0;
    width:calc(100% );

    z-index: -1;
}

.newspaper {
    position: relative;
    background-color: #F0ECE5;
    box-shadow: 0.8vh 0.8vh 0px rgba(0, 0, 0, 0.3), 0px 0px 3vh rgba(0, 0, 0, 0.1);
}

.newspaper_word {
    position: relative;
    color: #161A30;
}

#text0 {
    margin: 1vh;
    font-size: 1.5vh;
    text-align: center;
}

#text0_a {
    /* 不显示下划线 */
    text-decoration: none;
    /* 设置链接颜色，可以根据需要修改 */
    color: #aaaaaa;
}
#text0_a:hover {
    text-decoration: underline;
    color: rgb(120, 120, 180); /* 当鼠标悬停时的链接颜色 */
}



h1 {
    margin: 10px;
}

footer {
    background-color: #333;
    color: #aaaaaa;
    
    width: 100vw;

    padding: 1vw;
    text-align: center;
    
    margin-top: 10vw;

    position: absolute;

    bottom: 0;
}

footer p {
    font-size: 15px;
    margin: 5px;
}
